$main-bg:#F9FCFE;
$card-width: 350px;
$card-height: 370px;
$header-height: 72px;

$color-default: #006FAE;
$color-hover: #015585;
$color-active: #015585;
$footer-color: #081D31;
$dark-color: #081D31;
