$main-bg: #f9fcfe;
$card-width: 350px;
$card-height: 370px;
$header-height: 72px;
$transitionDuration: 0.5s;

$color-default: #006fae;
$color-hover: #015585;
$color-active: #015585;
$footer-color: #081d31;
$dark-color: #081d31;
